{% extends 'layout.html' %} {% block title %} Show {% endblock %} {% block content %}
<h1>{{show.artists.name}}</h1>

<div class="show-card">
  <img src="" alt="" />
  <p>date</p>
  <h3><a href="/shows/{{show.id}}">{{show.artists.name}}</a></h3>
  <p>playing at</p>
  <h4>{{show.venues.name}}</h4>
</div>

<div>
  <p>Update Show</p>
  <form action="/shows/{{show.id}}" method="POST">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" value="{{show.name}}" />
    </div>
    <div>
      <label for="artistId">Artist ID:</label>
      <input type="number" id="artistId" name="artistId" value="{{show.artist_id}}" required />
    </div>
    <div>
      <label for="venueId">Venue ID:</label>
      <input type="number" id="venueId" name="venueId" value="{{show.venue_id}}" required />
    </div>
    <button type="submit">Update Show</button>
  </form>
</div>
{% endblock %}
