{% extends "layout.html" %} {% block title %}Venue{% endblock %} {% block content %}
<div class="w-25">
  <button class="delete-btn venue-delete" data-id="{{venue.id}}">&times;</button>
  <h3>{{ venue.name }}</h3>
  <p>ID: {{venue.id}}</p>
  <p>Address: {{venue.address}}</p>
  <p>Address: {{venue.city}}</p>
  <p>Phone: {{venue.phone}}</p>
</div>
<div>
  <form action="" method="POST" class="">
    <h1 class="h3 mb-3 font-weight-normal">Update a venue:</h1>
    {{form.hidden_tag()}}

    {{ form.name.label() }}
    {{ form.name(class='form-control')}}

    {{ form.address.label() }}
    {{ form.address(class='form-control') }}

    {{ form.city.label() }}
    {{ form.city(class='form-control') }}

    {{ form.state.label() }}
    {{ form.state(class='form-control') }}

    {{ form.phone.label() }}
    {{ form.phone(class='form-control') }}

    {{ form.image_link.label() }}
    {{ form.image_link(class='form-control') }}

    {{ form.website_link.label() }}
    {{ form.website_link(class='form-control') }}

    {{ form.facebook_link.label() }}
    {{ form.facebook_link(class='form-control') }}

    <input type="submit" value="Update Venue" class="btn btn-primary btn-lg btn-block">
  </form>
</div>
{% endblock %}